<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Pmt Adjustments

    <a data-toggle="collapse" href="#loan_pmt_adjustments_new_form">
      Add pmt adjustment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @loan.pmt_adjustments.each do |pmt_adjustment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/pmt_adjustments/<%= pmt_adjustment.id %>">
          <%= pmt_adjustment.payment_occurence %>
        </a>

        <%if current_user == pmt_adjustment.user %>
          <a href="/delete_pmt_adjustment_from_loan/<%= pmt_adjustment.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="loan_pmt_adjustments_new_form">
        <%= render partial: "loan_templates/loan_pmt_adjustments_new_form" %>
      </div>
    </div>

  </ul>
</div>
