<h1>
  Add a new pmt adjustment
</h1>


<hr>

<form action="/create_pmt_adjustment" method="post">

  <div class="form-group">
    <label for="payment_occurence">
      Payment occurence
    </label>

    <input type="text" id="payment_occurence" name="payment_occurence" class="form-control">
  </div>

  <div class="form-group">
    <label for="loan_id">
      Loan
    </label>

    <%= select_tag(:loan_id, options_from_collection_for_select(Loan.all, :id, :current_balance, @pmt_adjustment.loan_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="pmt_adjustment">
      Pmt adjustment
    </label>

    <input type="text" id="pmt_adjustment" name="pmt_adjustment" class="form-control">
  </div>

  <div class="form-group">
    <label for="beg_pay_adj">
      Beg pay adj
    </label>

    <input type="text" id="beg_pay_adj" name="beg_pay_adj" class="form-control">
  </div>

  <div class="form-group">
    <label for="end_pay_adj">
      End pay adj
    </label>

    <input type="text" id="end_pay_adj" name="end_pay_adj" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create pmt adjustment
  </button>
</form>

<hr>

<a href="/pmt_adjustments">
  Go back
</a>
